<div class="flex-1 flex flex-col min-h-full">
    <a href="#main-content" type="button" tabindex="0"
        class="absolute z-[100] opacity-0 -left-[999px] focus:-left-[0px] focus:opacity-100 inline-block rounded-none bg-white px-5 py-2.5 text-sm font-medium text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        Skip to main content
    </a>
    <header id="e" class="border-b border-gray-200" x-data="{headerOpen: false}" x-on:click.away="headerOpen = false">
        <nav class="mx-auto flex max-w-screen-2xl items-center justify-between gap-x-6 py-4 px-6 sm:px-8 lg:py-5"
            aria-label="Global">
            <div class="flex items-center overflow-hidden w-full">
                <a href="/en/" class="flex-none flex-shrink-0 block p-1 rounded-lg focus:ring-2 focus:outline-none"
                    title="Go to the homepage">
                    <span class="sr-only">KimiPay</span>
                    <img class="hidden xs:block w-auto h-8 2xs:h-12 xl:h-14" src="/assets/kimi-pay_no_bg.png"
                        alt="KimiPay logo">
                    <img class="block xs:hidden w-auto h-8 2xs:h-12 xl:h-14" src="/assets/kimi-pay_no_bg.png"
                        alt="KimiPay logo">
                </a>


            </div>

            <!-- user nav -->

        </nav>

    </header>



    <main class="flex-1 flex flex-col min-h-full w-full " id="main-content">

        <div class="flex-1 min-h-full sm:flex sm:flex-col sm:justify-start sm:items-center">
            <div class="p-4 max-w-sm mx-auto w-full sm:p-0 mt-20">
                <!-- header -->
                <div class="text-center">
                    <h1 class="text-xl text-titlecolor-800 font-semibold lg:text-4xl">
                        OTP Verification
                    </h1>
                    <p class="text-base text-gray-600 font-normal">All KimiPay Services</p>
                </div>

                <div class="mt-8">

                    <form class="space-y-6 w-full" id="otp-form">
                        <div>
                            <div class="mt-1">
                                <div>
                                    <label title="" for="otp-form_otp"
                                        class="user_dialog_label  block text-sm font-medium text-gray-700" tabindex="0">

                                        Enter OTP sent to m*********2gmail.com

                                    </label>
                                    <div class="mt-1">
                                        <input type="email" id="email"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary_color focus:border-primary_color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary_color dark:focus:border-primary_color"
                                            placeholder="" required />


                                    </div>
                                </div>
                            </div>

                            <div class="mt-4 flex items-center md:gap-4 gap-2 w-1/2">
                                <a href="#" class="btn  px-6 rounded-full w-full btn-outline">
                                    Back
                                </a>
                                <button href="/otp-verify" class="btn w-full px-6 rounded-full btn_primary">
                                    Next
                                </button>
                            </div>

                            <div class="mt-4">
                                <div x-data="{ timer:59, expiry: 1715449549, out_put: '59 Seconds', show_out_put: false,
          start_time() {
            var now = new Date();
            var utc_timestamp = Date.UTC(now.getUTCFullYear(),now.getUTCMonth(), now.getUTCDate() , 
            now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds(), now.getUTCMilliseconds());
        
            
            this.timer = this.expiry - Math.round(utc_timestamp/1000);
           
            let intervalId = setInterval(() => {
              
            minutes = parseInt(this.timer / 60, 10);
            seconds = parseInt(this.timer % 60, 10) - 1;
            minutes = minutes < 10 ? '0' + minutes : minutes;
                  seconds = seconds < 10 ? '0' + seconds : seconds;
  
                  this.out_put = minutes + ':' + seconds;
  
                  this.show_out_put = true;
                  this.timer--;
                  if (this.timer == 0){
                                    this.show_out_put = false;
                    clearInterval(intervalId);
                  }
              
                  }, 1000);
            
              }
          }" x-init="start_time()">
                                    <div class="mt-6 text-center" x-show="show_out_put &amp;&amp; timer > 0" style="">
                                        <p>
                                            Didn't receive OTP? Resend in <span x-text="out_put">00:23</span>
                                        </p>
                                    </div>
                                    <div x-show="timer <= 0" style="display: none;">
                                        <div class="mt-6 text-center">
                                            Didn’t receive OTP?
                                            <a title="Didn’t receive OTP? Click to Resend" href="#"
                                                class="font-medium text-linkColor hover:text-linkColor">
                                                Resend
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-sm mt-2 text-center"></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>


</div>