<div *ngIf="activetab === 1" class="flex-1 flex flex-col h-screen w-full">
    <main class="flex-1 flex flex-col min-h-full w-full ">
        <div class="flex-1 mb-12 flex min-h-full w-full">
            <div class="mt-14 mb-5 relative flex flex-1 flex-col px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24 lg:w-1/2">


                <div class="flex flex-col items-center justify-center w-full mx-auto max-w-sm lg:w-96">
                    <a href="/en/" title="Go to homepage">
                        <div class="flex-shrink-0 w-full">
                            <img class="mx-auto w-auto h-14 block" src="/assets/kimi-pay_no_bg.png" alt="KimiPay logo">
                        </div>
                    </a>
                    <!-- header -->
                    <div class="mt-8 text-center">
                        <h1 class="text-xl  font-semibold lg:text-4xl">
                            One Login
                        </h1>
                        <p class="text-base text-gray-500 font-medium">
                            All KimiPay Services
                        </p>

                    </div>
                </div>



                <div class=" mx-auto w-full max-w-sm lg:w-96">
                    <div class="p-4 max-w-sm mx-auto w-full sm:p-0 mt-8 lg:mt-20">
                        <div class="mt-8">


                            <form [formGroup]="loginForm" (ngSubmit)="login(2)" class="w-full mx-auto">
                                <div class="mb-5">
                                    <div class="mt-1">
                                        <div>
                                            <label fullname="This field is required" for="validate_id_first_name"
                                                class="text-base text-gray-500 font-medium">
                                                Email address or ID number
                                            </label>
                                            <div class="mt-1">
                                                <input type="email" formControlName="username" [ngClass]="{
                                                'input_error bg-red-50  w-full  placeholder-red-700':
                                                    f['username'].invalid &&
                                                    (f['username'].touched || f['username'].dirty),
                                                'input_success  focus:ring-green-500 focus:border-green-500':
                                                    f['username'].valid,
                                                'input_default focus:ring-bg-primary_color focus:border-ring-primary_color':
                                                    f['username'].pristine
                                                }" placeholder="" />
                                            </div>
                                        </div>
                                        <p *ngIf="submitted && f['username'].errors"
                                            class="flex gap-3 mt-3 text-sm leading-6 text-rose-600">
                                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                class="mt-0.5 h-5 w-5 flex-none fill-rose-500" fill="currentColor"
                                                viewBox="0 0 20 20">
                                                <path fill-rule="evenodd"
                                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span *ngIf="f['username'].errors['required']">can't be blank</span>
                                            <span *ngIf=" f['username'].errors['username']">enter valid email</span>

                                        </p>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label fullname="This field is required" for="validate_id_first_name"
                                        class="text-base text-gray-500 font-medium">
                                        Password
                                    </label>

                                    <div class="mt-1 relative">
                                        <input type="{{ showPassword ? 'text' : 'password' }}"
                                            formControlName="password" [ngClass]="{
                                            'input_error bg-red-50  w-full  placeholder-red-700':
                                                f['password'].invalid && (f['password'].touched || f['password'].dirty),
                                            'input_success  focus:ring-green-500 focus:border-green-500':
                                                f['password'].valid,
                                            'input_default focus:ring-bg-primary_color focus:border-ring-primary_color':
                                                f['password'].pristine
                                        }" placeholder="******" />
                                        <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center"
                                            (click)="togglePasswordVisibility()">
                                            <span *ngIf="!showPassword"> 👁</span>
                                            <span *ngIf="showPassword">👁‍🗨</span>
                                        </button>
                                    </div>
                                    <p *ngIf="submitted && f['password'].errors"
                                        class="flex gap-3 mt-3 text-sm leading-6 text-rose-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                            class="mt-0.5 h-5 w-5 flex-none fill-rose-500" fill="currentColor"
                                            viewBox="0 0 20 20">
                                            <path fill-rule="evenodd"
                                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <span *ngIf="submitted && f['password'].errors['required']">can't be
                                            blank</span>

                                    </p>
                                </div>


                                <div class="md:flex justify-between">
                                    <div class="flex items-center justify-center 2xs:justify-start py-2 2xs:py-0">
                                        <input id="push-email" name="push-notifications" type="checkbox"
                                            class="h-4 w-4 rounded border-gray-300 text-primary_color focus:ring-pritext-primary_color" />
                                        <label for="push-email" class="ml-3">
                                            <span class="block text-sm font-medium text-gray-600">
                                                Remember for 30 days
                                            </span>
                                        </label>
                                    </div>
                                    <div class="py-2 2xs:py-0 text-center 2xs:text-left cursor-pointer">
                                        <a routerLink="/forget-password"
                                            class="text-sm text-linkColor font-semibold hover:underline"
                                            title="Navigate to password reset page">
                                            Forgot Password
                                        </a>
                                    </div>
                                </div>
                                <div class="mt-6">
                                    <button type="submit"
                                        class=" text-sm font-semibold leading-6 bg-primary_color flex w-full justify-center rounded-full border border-transparent  py-2 px-4 font-medium text-white shadow-sm  focus:outline-none focus:ring-2 focus:ring-accentcolor-500 focus:ring-offset-2"
                                        title="Submit">
                                        Sign In
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                    <!-- or -->
                    <div class="relative mt-8">
                        <div class="absolute inset-0 flex items-center" aria-hidden="true">
                            <div class="w-full border-t border-gray-200"></div>
                        </div>
                        <div class="relative flex justify-center text-sm font-medium leading-6">
                            <span class="bg-white px-6 text-gray-600">Or continue with</span>
                        </div>
                    </div>
                    <div class="mt-6 flex items-center justify-center gap-6">
                        <!-- Sign in with Digital ID -->
                        <button type="button" routerLink="/register"
                            class="inline-flex items-center btn text-gray-700 bg-lightGreen rounded-3xl">
                            <span class="p-1 inline-flex justify-center items-center  rounded-full h-6 w-16">
                                <img src="/assets/kimi_logo.png" alt="">
                            </span>
                            <span class="ml-2">Sign Up with Kimipay</span>
                        </button>
                        <!-- Sign in with Pass Keys -->

                    </div>
                </div>


                <!-- dont have an account? on lg and below -->
                <div class="block 2xl:hidden my-6">
                    <p class="text-sm text-center text-gray-600">
                        Don’t have an account?
                        <a routerLink="/register"
                            class="ml-1 text-linkColor font-semibold hover:underline cursor-pointer"
                            title="Navigate to sign up page">
                            Sign up
                        </a>
                    </p>
                </div>
                <!-- dont have an account? on lg and above -->
                <div class="hidden 2xl:block absolute bottom-0 left-0 ml-3 mb-4">
                    <p class="text-sm text-center text-gray-600">
                        Don’t have an account?
                        <a routerLink="/register"
                            class="ml-1 text-linkColor font-semibold hover:underline cursor-pointer">
                            Sign up
                        </a>
                    </p>
                </div>
            </div>
            <!-- sep image -->
            <div class="relative hidden w-0 flex-1 lg:block">
                <img fetchpriority="high" class="absolute inset-0 h-full object-cover object-bottom w-full"
                    src="/assets/login_image.jpg" alt="login image">
            </div>
        </div>
    </main>


</div>

<div *ngIf="activetab === 2" class="flex-1 flex flex-col min-h-full">

    <header id="e" class="border-b border-gray-200" x-on:click.away="headerOpen = false">
        <nav class="mx-auto flex max-w-screen-2xl items-center justify-between gap-x-6 py-4 px-6 sm:px-8 lg:py-5"
            aria-label="Global">
            <div class="flex items-center overflow-hidden w-full">
                <a href="/en/" class="flex-none flex-shrink-0 block p-1 rounded-lg focus:ring-2 focus:outline-none"
                    title="Go to the homepage">
                    <span class="sr-only">KimiPay</span>
                    <img class="hidden xs:block w-auto h-8 2xs:h-12 xl:h-14" src="/assets/kimi-pay_no_bg.png"
                        alt="KimiPay logo">
                    <img class="block xs:hidden w-auto h-8 2xs:h-12 xl:h-14" src="/assets/kimi-pay_no_bg.png"
                        alt="KimiPay logo">
                </a>


            </div>

            <!-- user nav -->

        </nav>

    </header>

    <div class="flex flex-col items-center justify-center w-full mx-auto max-w-sm lg:w-96">

        <!-- header -->
        <div class="mt-8 text-center">
            <h1 class="text-xl  font-semibold lg:text-4xl">
                OTP Verification
            </h1>
            <p class="text-base text-gray-600 font-normal">
                All KimiPay Services
            </p>

        </div>
    </div>


    <div class="max-w-md mx-auto w-full px-6 3xs:px-10 sm:px-0">
        <div class="mt-10 max-w-md w-full flex flex-col items-center justify-center">
            <fieldset>
                <div class="flex items-center justify-between">
                    <p class="text-base text-gray-600 font-normal text-center">
                        Select where you would like to receive a verification code
                    </p>
                </div>
                <div class="mt-4 grid grid-cols-1 gap-y-6 ">
                    <a>
                        <div (click)="sentOtp('EMAIL',3)"
                            class="border-gray-300 relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm hover:border-primary_color focus:outline-none">
                            <span class="flex items-center flex-1">
                                <span class="flex-shrink-0">
                                    <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 40 40">
                                        <rect width="40" height="40" fill="#E0EDF3" rx="20"></rect>
                                        <path stroke="#339BD6" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="1.667"
                                            d="m11.666 15.833 6.805 4.763c.55.386.826.578 1.126.653.264.066.541.066.806 0 .3-.075.575-.267 1.126-.653l6.804-4.763M15.667 26.666h8.666c1.4 0 2.1 0 2.635-.272a2.5 2.5 0 0 0 1.093-1.093c.272-.534.272-1.234.272-2.635v-5.333c0-1.4 0-2.1-.272-2.635a2.5 2.5 0 0 0-1.093-1.093c-.535-.272-1.235-.272-2.635-.272h-8.666c-1.4 0-2.1 0-2.636.272a2.5 2.5 0 0 0-1.092 1.093c-.273.535-.273 1.235-.273 2.635v5.333c0 1.4 0 2.1.273 2.635a2.5 2.5 0 0 0 1.092 1.093c.535.272 1.235.272 2.635.272Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="ml-3 flex flex-col  md:ml-8">
                                    <span class="block font-medium text-sm sm:text-base text-gray-700">
                                        Send code to my email
                                    </span>
                                    <span class="mt-1 flex items-center text-sm text-gray-600">
                                        {{_api.maskEmailAddress(loginresponse.email)}}
                                    </span>
                                </span>

                            </span>

                        </div>
                    </a>


                    <a>
                        <div (click)="sentOtp('PHONE_NUMBER',3)"
                            class="border-gray-300  relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm hover:border-primary_color focus:outline-none">
                            <span class="flex items-center flex-1">
                                <span class="flex-shrink-0">
                                    <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 40 40">
                                        <rect width="40" height="40" fill="#E0EDF3" rx="20"></rect>
                                        <path stroke="#339BD6" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="1.667"
                                            d="M16.984 17.378c.58 1.208 1.37 2.34 2.371 3.341a12.17 12.17 0 0 0 3.342 2.372c.104.05.156.075.222.094a.87.87 0 0 0 .718-.122c.056-.04.103-.088.199-.183.29-.291.437-.437.583-.532a1.667 1.667 0 0 1 1.817 0c.146.095.292.24.584.532l.162.162c.443.443.664.665.785.903a1.667 1.667 0 0 1 0 1.504c-.12.238-.342.46-.785.902l-.131.132c-.442.44-.662.662-.962.83-.333.187-.85.322-1.232.32-.344 0-.58-.067-1.05-.2a15.866 15.866 0 0 1-6.903-4.062 15.866 15.866 0 0 1-4.061-6.903c-.134-.47-.2-.706-.202-1.05a2.814 2.814 0 0 1 .32-1.232c.17-.3.39-.52.831-.962l.132-.131c.443-.443.664-.664.902-.785a1.667 1.667 0 0 1 1.504 0c.238.12.46.342.902.785l.163.162c.291.292.437.437.532.584.36.552.36 1.264 0 1.817-.095.146-.24.292-.532.583-.095.095-.143.143-.183.199a.872.872 0 0 0-.122.718c.019.066.044.118.094.222Z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="ml-3 flex flex-col  md:ml-8">
                                    <span class="block font-medium text-sm sm:text-base text-gray-700">
                                        Send code to my phone
                                    </span>
                                    <span class="mt-1 flex items-center text-sm text-gray-600">
                                        {{_api.maskPhoneNumber(loginresponse.phone_number)}}
                                    </span>
                                </span>
                            </span>
                        </div>
                    </a>


                </div>
                <div class="mt-6">
                    <p class="text-sm text-gray-600">
                        <button (click)="updateActiveTab(1)" type="button"
                            class="btn w-full px-6 rounded-full btn-outline">
                            Back
                        </button>
                    </p>
                </div>
            </fieldset>
        </div>

    </div>


</div>

<div *ngIf="activetab === 3" class="flex-1 flex flex-col min-h-full">

    <header id="e" class="border-b border-gray-200" x-on:click.away="headerOpen = false">
        <nav class="mx-auto flex max-w-screen-2xl items-center justify-between gap-x-6 py-4 px-6 sm:px-8 lg:py-5"
            aria-label="Global">
            <div class="flex items-center overflow-hidden w-full">
                <a href="/en/" class="flex-none flex-shrink-0 block p-1 rounded-lg focus:ring-2 focus:outline-none"
                    title="Go to the homepage">
                    <span class="sr-only">KimiPay</span>
                    <img class="hidden xs:block w-auto h-8 2xs:h-12 xl:h-14" src="/assets/kimi-pay_no_bg.png"
                        alt="KimiPay logo">
                    <img class="block xs:hidden w-auto h-8 2xs:h-12 xl:h-14" src="/assets/kimi-pay_no_bg.png"
                        alt="KimiPay logo">
                </a>


            </div>

            <!-- user nav -->

        </nav>

    </header>

    <div class="flex flex-col items-center justify-center w-full mx-auto max-w-sm lg:w-96">

        <!-- header -->
        <div class="mt-8 text-center">
            <h1 class="text-xl  font-semibold lg:text-4xl">
                OTP Verification
            </h1>
            <p class="text-base text-gray-600 font-normal">
                All KimiPay Services
            </p>
        </div>
    </div>


    <div class="max-w-md mx-auto w-full px-6 3xs:px-10 sm:px-0">
        <div class="mt-10 max-w-md w-full flex flex-col items-center justify-center">
            <div class="w-full">
                <form [formGroup]="veryOtpForm" (ngSubmit)="veryOtp(2)" class="space-y-6">
                    <div class="mt-1">
                        <div>
                            <label fullname="" for="otp_otp"
                                class="user_dialog_label block text-sm font-medium text-[#d1d5db]" tabindex="0">
                                Enter the OTP sent to <span
                                    class="text-primary_color">{{loginresponse?.phone_number}}</span> or
                                <br />
                                <span class="text-primary_color">{{loginresponse?.email}}</span>

                            </label>
                            <div class="mt-1">
                                <input type="text" formControlName="code" [ngClass]="{
                                'input_error bg-red-50  w-full  placeholder-red-700':
                                    f1['code'].invalid &&
                                    (f1['code'].touched || f1['code'].dirty),
                                'input_success  focus:ring-green-500 focus:border-green-500':
                                    f1['code'].valid,
                                'input_default focus:ring-bg-primary_color focus:border-ring-primary_color':
                                    f1['code'].pristine
                                }" placeholder="" />
                            </div>
                        </div>
                        <p *ngIf="submitted1 && f1['code'].errors"
                            class="flex gap-3 mt-3 text-sm leading-6  text-rose-600">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                class="mt-0.5 h-5 w-5 flex-none fill-rose-500" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                    clip-rule="evenodd"></path>

                            </svg>
                            <span *ngIf="submitted1 && f1['code'].errors['required']">can't be
                                blank</span>


                        </p>
                    </div>

                    <div class="flex justify-end">
                        <div class="flex space-x-2">
                            <a (click)="updateActiveTab(2)" class="btn px-8 btn-outline rounded-full"
                                fullname="Navigate to the next section">
                                Back
                            </a>
                            <button (click)="updateActiveTab(3)" class="btn px-8 rounded-full btn_primary">
                                Next
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>