<div class="flex-1 flex flex-col min-h-full">
    <header id="e" class="border-b border-gray-200" x-data="{headerOpen: false}" x-on:click.away="headerOpen = false">
        <nav class="mx-auto flex max-w-screen-2xl items-center justify-between gap-x-6 py-4 px-6 sm:px-8 lg:py-5"
            aria-label="Global">
            <div class="flex items-center overflow-hidden w-full">
                <a href="/en/" class="flex-none flex-shrink-0 block p-1 rounded-lg focus:ring-2 focus:outline-none"
                    fullname="Go to the homepage">
                    <span class="sr-only">KimiPay</span>
                    <img class="hidden xs:block w-auto h-8 2xs:h-12 xl:h-14" src="/assets/kimi-pay_no_bg.png"
                        alt="KimiPay logo" />
                    <img class="block xs:hidden w-auto h-8 2xs:h-12 xl:h-14" src="/assets/kimi-pay_no_bg.png"
                        alt="KimiPay logo" />
                </a>
            </div>
            <!-- user nav -->
        </nav>
    </header>
    <main class="flex-1 flex flex-col min-h-full w-full" id="main-content">
        <div class="flex-1 min-h-full sm:flex sm:flex-col sm:justify-start sm:items-center pb-20">
            <!-- steps -->
            <div class="p-4 max-w-md mx-auto w-full mt-14 sm:p-0 sm:mt-20">
                <div class="flex items-center justify-between">
                    <h1 class="text-xl sm:text-3xl text-gray-600 font-semibold">
                        Register
                    </h1>
                    <p class="text-sm 3xs:text-lg text-gray-600">Individual</p>
                </div>
                <!-- Progress Steps -->
                <div class="mt-10 mb-5">
                    <nav aria-label="Progress" class="flex justify-center">
                        <ol role="list" class="flex items-center pb-5 ">
                            <li class="relative pr-12 sm:pr-24">
                                <!-- Current Step -->
                                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                                    <div class="h-0.5 w-full bg-gray-200"></div>
                                </div>
                                <div aria-current="step"
                                    class="relative flex items-center justify-center w-6 xs:w-8 h-6 xs:h-8 bg-white border-2 rounded-full border-primary_color">
                                    <span aria-hidden="true"
                                        class="h-2 w-2 xs:h-2.5 xs:w-2.5 rounded-full bg-primary_color">
                                    </span>
                                    <span class="absolute text-xs xs:text-sm font-medium -bottom-6 whitespace-nowrap">
                                        Validate
                                    </span>
                                </div>
                            </li>

                            <li class="relative pr-12 sm:pr-24 ">
                                <!-- Upcoming Step -->
                                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                                    <div class="h-0.5 w-full bg-gray-200"></div>
                                </div>
                                <div [ngClass]="activetab > 1 ? 'border-primary_color' : 'border-gray-300'"
                                    class="relative flex items-center justify-center w-6 xs:w-8 h-6 xs:h-8 bg-white border-2 rounded-full border-gray-300 group hover:border-gray-400">
                                    <span class="h-2 w-2 xs:h-2.5 xs:w-2.5 rounded-full  group-hover:bg-gray-300"
                                        [ngClass]="activetab > 1 ? 'bg-primary_color' : 'bg-transparent'"
                                        aria-hidden="true">
                                    </span>
                                    <span class="absolute text-xs xs:text-sm font-medium -bottom-6 whitespace-nowrap">
                                        Verify Account
                                    </span>
                                </div>
                            </li>

                            <li class="relative">
                                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                                    <div class="h-0.5 w-full bg-gray-200"></div>
                                </div>
                                <div
                                    class="relative flex items-center justify-center w-6 xs:w-8 h-6 xs:h-8 bg-white border-2 rounded-full border-gray-300 group hover:border-gray-400">
                                    <span
                                        class="h-2 w-2 xs:h-2.5 xs:w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"
                                        aria-hidden="true">
                                    </span>
                                    <span class="absolute text-xs xs:text-sm font-medium -bottom-6 whitespace-nowrap">
                                        Done
                                    </span>
                                </div>
                            </li>

                            <!-- <li class="relative">
                                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                                    <div class="h-0.5 w-full bg-gray-200"></div>
                                </div>
                                <div
                                    class="relative flex items-center justify-center w-6 xs:w-8 h-6 xs:h-8 bg-white border-2 rounded-full border-gray-300 group hover:border-gray-400">
                                    <span
                                        class="h-2 w-2 xs:h-2.5 xs:w-2.5 rounded-full bg-transparent group-hover:bg-gray-300"
                                        aria-hidden="true">
                                    </span>
                                    <span class="absolute text-xs xs:text-sm font-medium -bottom-6 whitespace-nowrap">
                                        Photo
                                    </span>
                                </div>
                            </li>  -->
                        </ol>
                    </nav>
                </div>
            </div>

            <!-- /steps -->
            <div *ngIf="activetab === 1" class="max-w-md mx-auto w-full px-6 3xs:px-10 sm:px-0">
                <div class="mt-4 max-w-3xl w-full flex flex-col items-center justify-center">
                    <div class="col-span-6 my-2"></div>
                    <div class="w-full">
                        <form [formGroup]="registerForm" (ngSubmit)="register(2)"
                            class="grid grid-cols-6 gap-6 w-full max-w-md mx-auto">
                            <div class="col-span-6">
                                <div class="mt-1">
                                    <div>
                                        <label fullname="This field is required" for="validate_id_first_name"
                                            class="user_dialog_input block text-sm font-medium text-gray-700">
                                            Full Name
                                        </label>
                                        <div class="mt-1">
                                            <input type="text" formControlName="fullname" [ngClass]="{
                                            'input_error bg-red-50  w-full focus:ring-red-500 focus:border-red-500 placeholder-red-700':
                                                f['fullname'].invalid &&
                                                (f['fullname'].touched || f['fullname'].dirty),
                                            'input_success  focus:ring-green-500 focus:border-green-500':
                                                f['fullname'].valid,
                                            'input_default focus:ring-bg-primary_color focus:border-ring-primary_color':
                                                f['fullname'].pristine
                                            }" placeholder="John Doe" />
                                        </div>
                                    </div>
                                    <p *ngIf="submitted && f['fullname'].errors"
                                        class="flex gap-3 mt-3 text-sm leading-6  text-rose-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                            class="mt-0.5 h-5 w-5 flex-none fill-rose-500" fill="currentColor"
                                            viewBox="0 0 20 20">
                                            <path fill-rule="evenodd"
                                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <span>can't be blank</span>
                                    </p>

                                </div>
                            </div>
                            <div class="col-span-6">
                                <div class="mt-1">
                                    <div>
                                        <label fullname="This field is required" for="validate_id_first_name"
                                            class="user_dialog_input block text-sm font-medium text-gray-700">
                                            Phone Number
                                        </label>
                                        <div class="mt-1">
                                            <input type="number" formControlName="phone_number" [ngClass]="{
                                            'input_error bg-red-50  w-full  placeholder-red-700':
                                                f['phone_number'].invalid &&
                                                (f['phone_number'].touched || f['phone_number'].dirty),
                                            'input_success  focus:ring-green-500 focus:border-green-500':
                                                f['phone_number'].valid,
                                            'input_default focus:ring-bg-primary_color focus:border-ring-primary_color':
                                                f['phone_number'].pristine
                                            }" placeholder="07..." />
                                        </div>
                                    </div>
                                    <p *ngIf="submitted && f['phone_number'].errors"
                                        class="flex gap-3 mt-3 text-sm leading-6  text-rose-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                            class="mt-0.5 h-5 w-5 flex-none fill-rose-500" fill="currentColor"
                                            viewBox="0 0 20 20">
                                            <path fill-rule="evenodd"
                                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                                clip-rule="evenodd"></path>

                                        </svg>
                                        <span *ngIf="submitted && f['phone_number'].errors['required']">can't be
                                            blank</span>
                                        <span
                                            *ngIf="submitted && (f['phone_number'].errors['invalidKenyanPhoneNumber'] && !f['phone_number'].errors['required'])">enter
                                            valid number</span>

                                    </p>
                                </div>
                            </div>

                            <div class="col-span-6">
                                <div class="mt-1">
                                    <div>
                                        <label fullname="This field is required" for="validate_id_first_name"
                                            class="user_dialog_input block text-sm font-medium text-gray-700">
                                            Email
                                        </label>
                                        <div class="mt-1">
                                            <input type="email" formControlName="email" [ngClass]="{
                                            'input_error bg-red-50  w-full  placeholder-red-700':
                                                f['email'].invalid &&
                                                (f['email'].touched || f['email'].dirty),
                                            'input_success  focus:ring-green-500 focus:border-green-500':
                                                f['email'].valid,
                                            'input_default focus:ring-bg-primary_color focus:border-ring-primary_color':
                                                f['email'].pristine
                                            }" placeholder="eg, john@gmail.com..." />
                                        </div>
                                    </div>
                                    <p *ngIf="submitted && f['email'].errors"
                                        class="flex gap-3 mt-3 text-sm leading-6  text-rose-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                            class="mt-0.5 h-5 w-5 flex-none fill-rose-500" fill="currentColor"
                                            viewBox="0 0 20 20">
                                            <path fill-rule="evenodd"
                                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <span *ngIf="f['email'].errors['required']">can't be blank</span>
                                        <span *ngIf=" f['email'].errors['email']">enter valid email</span>

                                    </p>
                                </div>
                            </div>
                            <div class="col-span-6">
                                <label fullname="This field is required" for="validate_id_first_name"
                                    class="user_dialog_input block text-sm font-medium text-gray-700">
                                    Password
                                </label>

                                <div class="mt-1 relative">
                                    <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password"
                                        [ngClass]="{
                                        'input_error bg-red-50  w-full  placeholder-red-700':
                                            f['password'].invalid && (f['password'].touched || f['password'].dirty),
                                        'input_success  focus:ring-green-500 focus:border-green-500':
                                            f['password'].valid,
                                        'input_default focus:ring-bg-primary_color focus:border-ring-primary_color':
                                            f['password'].pristine
                                    }" placeholder="******" />
                                    <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center"
                                        (click)="togglePasswordVisibility()">
                                        <span *ngIf="!showPassword"> 👁</span>
                                        <span *ngIf="showPassword">👁‍🗨</span>
                                    </button>
                                </div>
                                <p *ngIf="submitted && f['password'].errors"
                                    class="flex gap-3 mt-3 text-sm leading-6 text-rose-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                        class="mt-0.5 h-5 w-5 flex-none fill-rose-500" fill="currentColor"
                                        viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span *ngIf="submitted && f['password'].errors['required']">can't be
                                        blank</span>

                                </p>
                            </div>

                            <div class="col-span-6 ml-auto flex items-center space-x-4">
                                <a href="/register" class="btn btn-outline px-8 rounded-full">
                                    Back
                                </a>


                                <button type="submit"
                                    class="text-white bg-primary_color  hover:bg-primary_color focus:outline-none  focus:ring-4 focus:ring-primary_color font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-primary_color dark:hover:bg-primary_color dark:focus:ring-primary_color dark:border-primary_color">
                                    Validate
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div *ngIf="activetab === 2" class="max-w-md mx-auto w-full px-6 3xs:px-10 sm:px-0">
                <div class="mt-10 max-w-md w-full flex flex-col items-center justify-center">
                    <fieldset>
                        <div class="flex items-center justify-between">
                            <p class="text-base text-gray-600 font-normal text-center">
                                Select where you would like to receive a verification code
                            </p>
                        </div>
                        <div class="mt-4 grid grid-cols-1 gap-y-6 ">
                            <a>
                                <div (click)="sentOtp('EMAIL',3)"
                                    class="border-gray-300 relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm hover:border-primary_color focus:outline-none">
                                    <span class="flex items-center flex-1">
                                        <span class="flex-shrink-0">
                                            <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 40 40">
                                                <rect width="40" height="40" fill="#E0EDF3" rx="20"></rect>
                                                <path stroke="#339BD6" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="1.667"
                                                    d="m11.666 15.833 6.805 4.763c.55.386.826.578 1.126.653.264.066.541.066.806 0 .3-.075.575-.267 1.126-.653l6.804-4.763M15.667 26.666h8.666c1.4 0 2.1 0 2.635-.272a2.5 2.5 0 0 0 1.093-1.093c.272-.534.272-1.234.272-2.635v-5.333c0-1.4 0-2.1-.272-2.635a2.5 2.5 0 0 0-1.093-1.093c-.535-.272-1.235-.272-2.635-.272h-8.666c-1.4 0-2.1 0-2.636.272a2.5 2.5 0 0 0-1.092 1.093c-.273.535-.273 1.235-.273 2.635v5.333c0 1.4 0 2.1.273 2.635a2.5 2.5 0 0 0 1.092 1.093c.535.272 1.235.272 2.635.272Z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="ml-3 flex flex-col  md:ml-8">
                                            <span class="block font-medium text-sm sm:text-base text-gray-700">
                                                Send code to my email
                                            </span>
                                            <span class="mt-1 flex items-center text-sm text-gray-600">
                                                {{registerForm.value.email}}
                                            </span>
                                        </span>

                                    </span>

                                </div>
                            </a>


                            <a>
                                <div (click)="sentOtp('PHONE_NUMBER',3)"
                                    class="border-gray-300  relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm hover:border-primary_color focus:outline-none">
                                    <span class="flex items-center flex-1">
                                        <span class="flex-shrink-0">
                                            <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 40 40">
                                                <rect width="40" height="40" fill="#E0EDF3" rx="20"></rect>
                                                <path stroke="#339BD6" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="1.667"
                                                    d="M16.984 17.378c.58 1.208 1.37 2.34 2.371 3.341a12.17 12.17 0 0 0 3.342 2.372c.104.05.156.075.222.094a.87.87 0 0 0 .718-.122c.056-.04.103-.088.199-.183.29-.291.437-.437.583-.532a1.667 1.667 0 0 1 1.817 0c.146.095.292.24.584.532l.162.162c.443.443.664.665.785.903a1.667 1.667 0 0 1 0 1.504c-.12.238-.342.46-.785.902l-.131.132c-.442.44-.662.662-.962.83-.333.187-.85.322-1.232.32-.344 0-.58-.067-1.05-.2a15.866 15.866 0 0 1-6.903-4.062 15.866 15.866 0 0 1-4.061-6.903c-.134-.47-.2-.706-.202-1.05a2.814 2.814 0 0 1 .32-1.232c.17-.3.39-.52.831-.962l.132-.131c.443-.443.664-.664.902-.785a1.667 1.667 0 0 1 1.504 0c.238.12.46.342.902.785l.163.162c.291.292.437.437.532.584.36.552.36 1.264 0 1.817-.095.146-.24.292-.532.583-.095.095-.143.143-.183.199a.872.872 0 0 0-.122.718c.019.066.044.118.094.222Z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="ml-3 flex flex-col  md:ml-8">
                                            <span class="block font-medium text-sm sm:text-base text-gray-700">
                                                Send code to my phone
                                            </span>
                                            <span class="mt-1 flex items-center text-sm text-gray-600">
                                                {{registerForm.value.phone_number}}
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </a>


                        </div>
                        <div class="mt-6">
                            <p class="text-sm text-gray-600">
                                <button (click)="updateActiveTab(1)" type="button"
                                    class="btn w-full px-6 rounded-full btn-outline">
                                    Back
                                </button>
                            </p>
                        </div>
                    </fieldset>
                </div>

            </div>
            <div *ngIf="activetab === 3" class="max-w-md mx-auto w-full px-6 3xs:px-10 sm:px-0">
                <div class="mt-10 max-w-md w-full flex flex-col items-center justify-center">
                    <div class="w-full">
                        <form [formGroup]="veryOtpForm" (ngSubmit)="veryOtp(4)" class="space-y-6">
                            <div class="mt-1">
                                <div>
                                    <label fullname="" for="otp_otp"
                                        class="user_dialog_label block text-sm font-medium text-[#d1d5db]" tabindex="0">
                                        Enter the OTP sent to <span
                                            class="text-primary_color">{{registerForm.value.phone_number}}</span> or
                                        <br />
                                        <span class="text-primary_color">{{registerForm.value.email}}</span>

                                    </label>
                                    <div class="mt-1">
                                        <input type="text" formControlName="code" [ngClass]="{
                                        'input_error bg-red-50  w-full  placeholder-red-700':
                                            f1['code'].invalid &&
                                            (f1['code'].touched || f1['code'].dirty),
                                        'input_success  focus:ring-green-500 focus:border-green-500':
                                            f1['code'].valid,
                                        'input_default focus:ring-bg-primary_color focus:border-ring-primary_color':
                                            f1['code'].pristine
                                        }" placeholder="" />
                                    </div>
                                </div>
                                <p *ngIf="submitted1 && f1['code'].errors"
                                    class="flex gap-3 mt-3 text-sm leading-6  text-rose-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                        class="mt-0.5 h-5 w-5 flex-none fill-rose-500" fill="currentColor"
                                        viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                            clip-rule="evenodd"></path>

                                    </svg>
                                    <span *ngIf="submitted1 && f1['code'].errors['required']">can't be
                                        blank</span>


                                </p>
                            </div>

                            <div class="flex justify-end">
                                <div class="flex space-x-2">
                                    <a (click)="updateActiveTab(2)" class="btn px-8 btn-outline rounded-full"
                                        fullname="Navigate to the next section">
                                        Back
                                    </a>
                                    <button (click)="updateActiveTab(3)" class="btn px-8 rounded-full btn_primary">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- ===========================================================contact======================================================================================= -->
            <div *ngIf="activetab === 7" class="max-w-md mx-auto w-full px-6 3xs:px-10 sm:px-0">
                <div class="mt-10 max-w-md w-full flex flex-col items-center justify-center">
                    <div class="w-full">
                        <form method="post" class="space-y-6">
                            <div class="relative mt-2" id="internationalPhoneInput">
                                <label fullname="This field is required" for="contacts_msisdn"
                                    class="user_dialog_label required user_dialog_label" tabindex="0">
                                    Phone Number
                                </label>

                                <div class="mt-1">
                                    <input type="email" id="email"
                                        class="bg-gray-50 border border-gray-300 text-[#d1d5db] text-sm rounded-lg focus:ring-primary_color focus:border-primary_color block w-full p-2.5 dark:bg-[#d1d5db] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary_color dark:focus:border-primary_color"
                                        placeholder="" required />
                                </div>
                                <div>
                                    <span id="valid-msg" class="hide"></span>
                                    <span id="error-msg" class="hide"></span>
                                </div>
                            </div>

                            <div class="mt-1">
                                <div>
                                    <label fullname="This field is required" for="contacts_email"
                                        class="user_dialog_label required block text-sm font-medium text-[#d1d5db]"
                                        tabindex="0">
                                        Email Address
                                    </label>
                                    <div class="mt-1">
                                        <input type="email" id="email"
                                            class="bg-gray-50 border border-gray-300 text-[#d1d5db] text-sm rounded-lg focus:ring-primary_color focus:border-primary_color block w-full p-2.5 dark:bg-[#d1d5db] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary_color dark:focus:border-primary_color"
                                            placeholder="" required />

                                        <p class="flex gap-3 mt-3 text-sm leading-6 text-rose-600">
                                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                class="mt-0.5 h-5 w-5 flex-none fill-rose-500" fill="currentColor"
                                                viewBox="0 0 20 20">
                                                <path fill-rule="evenodd"
                                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span tabindex="1" id="error_message_0">Email already taken</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="flex justify-end">
                                <div class="flex space-x-2">
                                    <a (click)="updateActiveTab(2)" class="btn px-8 btn-outline rounded-full"
                                        fullname="Navigate to the next section">
                                        Back
                                    </a>
                                    <button (click)="updateActiveTab(4)" class="btn px-8 rounded-full btn_primary">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div *ngIf="activetab === 4" class="max-w-md mx-auto w-full px-6 3xs:px-10 sm:px-0">
                <div class="mt-4 max-w-3xl w-full flex flex-col items-center justify-center">
                    <div class="w-full max-w-md">
                        <div
                            class="border border-gray-100 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
                            <div class="px-4 py-5 sm:p-6 my-12">
                                <svg class=" group-hover:inline h-16 w-16 mx-auto text-primary_color"
                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <p class="text-center">Your Now set Proceed To <button routerLink="/login"
                                        class="font-medium text-linkColor hover:text-linkColor ml-2 items-end"
                                        aria-label="Account details found of Full name ESTHER MUTAVE KALELI and Id number 41238546, if not your profile, click try again">
                                        Login
                                    </button></p>

                            </div>
                            <!-- <div class="px-4 py-4 sm:px-6">
                                <p>

                                    <button routerLink="/login"
                                        class="font-medium text-linkColor hover:text-linkColor ml-2"
                                        aria-label="Account details found of Full name ESTHER MUTAVE KALELI and Id number 41238546, if not your profile, click try again">
                                        Login
                                    </button>
                                </p>
                            </div> -->
                        </div>

                        <!-- <div class="flex justify-end mt-6">
                            <div class="flex space-x-2">
                                <a (click)="updateActiveTab(3)"
                                    class="flex justify-center rounded-full border border-transparent bg-primary_color py-2 px-6 font-medium text-white shadow-sm hover:bg-accentcolor-800 focus:outline-none focus:ring-2 focus:ring-accentcolor-500 focus:ring-offset-2"
                                    fullname="Fill in your contact details">
                                    Next
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>



            <!-- ====================================Password================================ -->

            <div *ngIf="activetab === 5" class="max-w-md mx-auto w-full px-6 3xs:px-10 sm:px-0">
                <div class="max-w-md w-full flex flex-col items-center justify-center">
                    <div>
                        <div class="mt-6">
                            <p class="text-sm">
                                To protect your account, we require that your password;
                            </p>
                            <ul class="text-sm list-disc mt-2 ml-6">
                                <li>Has a minimum of 8 characters</li>
                                <li>Contains at least one upper case letter</li>
                                <li>Contains at least one lower case letter</li>
                                <li>Contains at least one digit</li>
                                <li>
                                    Contains at least one special character e.g
                                    <span class="font-bold tracking-widest">{{
                                        "!@#$%^&*()_+{}[]:;?/|\\"
                                        }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-10 w-full">
                        <form class="w-full mx-auto">
                            <div class="mb-5">
                                <label for="email"
                                    class="block mb-2 text-sm font-medium text-[#d1d5db] dark:text-white">Password</label>
                                <input type="email" id="email"
                                    class="bg-gray-50 border border-gray-300 text-[#d1d5db] text-sm rounded-lg focus:ring-primary_color focus:border-primary_color block w-full p-2.5 dark:bg-[#d1d5db] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary_color dark:focus:border-primary_color"
                                    placeholder="" required />
                            </div>
                            <div class="mb-5">
                                <label for="password"
                                    class="block mb-2 text-sm font-medium text-[#d1d5db] dark:text-white">Confirm
                                    Password
                                </label>
                                <input type="password" id="password"
                                    class="bg-gray-50 border border-gray-300 text-[#d1d5db] text-sm rounded-lg focus:ring-primary_color focus:border-primary_color block w-full p-2.5 dark:bg-[#d1d5db] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary_color dark:focus:border-primary_color"
                                    required />
                            </div>

                            <div class="flex justify-end">
                                <div class="flex space-x-2">
                                    <a (click)="updateActiveTab(4)" class="btn px-8 btn-outline rounded-full"
                                        fullname="Navigate to the next section">
                                        Back
                                    </a>
                                    <button (click)="updateActiveTab(6)" class="btn px-8 rounded-full btn_primary">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div *ngIf="activetab === 6" class="max-w-md mx-auto w-full px-6 3xs:px-10 sm:px-0">
                <div class="flex-1 w-full max-w-md min-h-full sm:flex sm:flex-col sm:items-center" id="override_image"
                    arial-labelledby="Click to upload your profile photo">
                    <form method="post" class="w-full space-y-6">
                        <input type="file" name="avatar" accept=".jpg,.jpeg,.png" class="hidden" />
                        <!-- upload img -->
                        <div id="upload-passport-photo" aria-label="Upload your passport photo">
                            <label for="cover-photo" class="block text-lg font-medium text-[#d1d5db] required">
                                Upload your passport photo
                            </label>

                            <div id="cropperjs_section">
                                <img id="image" alt="image" />

                                <div class="mt-4 flex items-center justify-center">
                                    <button type="button" id="save_image" class="hidden btn btn-primary rounded-full">
                                        Save
                                    </button>
                                </div>
                            </div>

                            <div id="uploader_section"
                                class="px-6 pt-5 pb-6 mt-1 border-2 border-gray-300 border-dashed rounded-md flex justify-center">
                                <div id="upload_section" class="space-y-1 text-center">
                                    <svg class="w-12 h-12 mx-auto text-gray-400" stroke="currentColor" fill="none"
                                        viewBox="0 0 48 48" aria-hidden="true">
                                        <path
                                            d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>

                                    <div class="flex text-sm text-gray-600">
                                        <label for="image_file_input"
                                            class="relative font-medium bg-white rounded-md cursor-pointer text-linkColor focus-within:outline-none focus-within:ring-2 focus-within:ring-litext-linkColor focus-within:ring-offset-2 hover:text-linkColor">
                                            <span>Click to upload</span>
                                            <input id="image_file_input" type="file" accept="image/*" class="sr-only" />
                                        </label>
                                        <p class="pl-1">or drag and drop</p>
                                    </div>
                                    <p class="text-xs text-gray-500">
                                        SVG, PNG, JPG or GIF (max. 800x400px)
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="flex items-center w-full space-y-4 sm:items-end">
                                <div class="w-full overflow-hidden bg-white border rounded-lg shadow">
                                    <div class="p-4">
                                        <div class="flex items-start">
                                            <div class="flex-shrink-0">
                                                <span class="inline-block p-0.5 bg-navcolor-50 rounded-full mt-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        fill="currentColor" class="w-5 h-5 text-navcolor-400">
                                                        <path fill-rule="evenodd"
                                                            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022zM12 9a.75.75 0 100-1.5.75.75 0 000 1.5z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="ml-3 w-0 flex-1 pt-0.5">
                                                <p class="text-sm font-medium text-[#d1d5db]">
                                                    Photo Requirements
                                                </p>
                                                <p class="mt-1 text-sm text-gray-500">
                                                    Your photo is a vital part of your KimiPay account. To
                                                    learn more, review the information by clicking the
                                                    link below on how to provide a suitable photo.
                                                </p>
                                                <p class="mt-2 text-sm">
                                                    <a fullname="Photo Requirements" href="#"
                                                        class="font-medium text-navcolor-700 hover:text-navcolor-800"
                                                        x-data="{id: 'photo-req'}"
                                                        x-on:click="$dispatch('modal-overlay', {id})">
                                                        Photo Requirements
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="mt-4 flex items-center w-full space-y-4 sm:items-end">
                                    <div class="w-full overflow-hidden bg-white border rounded-lg shadow">
                                        <div class="p-4 h-60 overflow-auto">
                                            <article class="inline-tos text-sm">
                                                <h2 class="mb-10 !text-xl">Terms of Service</h2>

                                                <p>
                                                    In the event that you have any issues, problems or
                                                    questions in relation to your attempts to access
                                                    services on the KimiPay Platform you may get in touch
                                                    with our customer care on the telephone number
                                                    <a class="mt-2 text-base tracking-wider font-semibold text-accentcolor-800 hover:text-accentcolor-900"
                                                        href="tel:+254207903260">+254798288410</a>
                                                    or on the email address
                                                    <a class="mt-2 text-base tracking-wider font-semibold text-accentcolor-800 hover:text-accentcolor-900"
                                                        href="mailto:support@KimiPay.go.ke">{{ "support@kimipay.co.ke"
                                                        }}</a>
                                                </p>
                                                <h2>Changes to Terms</h2>
                                                <p>
                                                    We reserve the right to change the Terms and
                                                    Conditions of Use of the KimiPay
                                                    Platform&nbsp;&nbsp;unequivocally. No change in the
                                                    terms and conditions will apply retroactively and you
                                                    will be able to access the most recent terms and
                                                    conditions&nbsp;&nbsp;here. In the event that this
                                                    happens the date on which the policy is updated will
                                                    also change to enable you confirm when changes are
                                                    made.
                                                </p>
                                                <p>
                                                    This version of the Terms and Conditions was last
                                                    updated on 19th May, 2023
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center">
                            <label fullname="" class="flex items-center gap-4 user_dialog_label ">
                                <input type="hidden" name="avatar[terms]" value="false" />
                                <input id="push-email" name="push-notifications" type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-primary_color focus:ring-pritext-primary_color" />
                            </label>
                            <label for="avatar_terms" class="block ml-2 text-sm text-[#d1d5db]">
                                I agree to the
                                <a href="/terms-and-conditions"
                                    class="font-medium text-navcolor-700 hover:text-navcolor-800" target="_blank"
                                    fullname="Read Terms and Conditions">
                                    terms and conditions.
                                </a>
                            </label>
                        </div>

                        <div class="flex justify-end">
                            <div class="flex space-x-2">
                                <a (click)="updateActiveTab(5)" class="btn px-8 btn-outline rounded-full"
                                    fullname="Navigate to the next section">
                                    Back
                                </a>
                                <button href="/login" class="btn px-8 rounded-full btn_primary">
                                    Complete
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>