<div class="flex-1 flex flex-col min-h-full">
    <a href="#main-content" type="button" tabindex="0"
        class="absolute z-[100] opacity-0 -left-[999px] focus:-left-[0px] focus:opacity-100 inline-block rounded-none bg-white px-5 py-2.5 text-sm font-medium text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
        Skip to main content
    </a>
    <header id="e" phx-update="ignore" class="border-b border-gray-200" x-data="{headerOpen: false}"
        x-on:click.away="headerOpen = false">
        <nav class="mx-auto flex max-w-screen-2xl items-center justify-between gap-x-6 py-4 px-6 sm:px-8 lg:py-5"
            aria-label="Global">
            <div class="flex items-center overflow-hidden w-full">
                <a href="/en/" data-phx-link="redirect" data-phx-link-state="push"
                    class="flex-none flex-shrink-0 block p-1 rounded-lg focus:ring-2 focus:outline-none"
                    title="Go to the homepage">
                    <span class="sr-only">KimiPay</span>
                    <img class="hidden xs:block w-auto h-8 2xs:h-12 xl:h-14" src="/assets/kimi-pay_no_bg.png"
                        alt="eCitizen logo">
                    <img class="block xs:hidden w-auto h-8 2xs:h-12 xl:h-14" src="/assets/kimi-pay_no_bg.png"
                        alt="KimiPay logo">
                </a>


            </div>

            <!-- user nav -->

        </nav>

    </header>
    

    <main class="flex-1 flex flex-col min-h-full w-full " id="main-content" phx-hook="accessibility">


      
        <div class="flex-1 min-h-full sm:flex sm:flex-col sm:justify-start sm:items-center">
            <div class="p-4 w-full max-w-md mx-auto sm:p-0 mt-20">
                <div>
                    <h2 class="text-4xl font-semibold tracking-tight text-center text-titlecolor-800">
                        Forgot Password
                    </h2>
                    <p class="mt-2 text-lg text-center text-gray-600">
                        Lets help you reset your password
                    </p>
                </div>

                <div class="mt-10">
                    <form method="post" phx-submit="save" data-gtm-form-interact-id="3">



                        <div class=" space-y-6">

                            <div>
                                <label for="email" class="block text-sm font-medium text-gray-700">
                                    Account Type
                                </label>
                                <select id="countries" class="bg-gray-50 border  mt-1 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option selected>Choose Account Type</option>
                                    <option value="US">Citicen</option>
                                    <option value="CA">Resident</option>
                                    <option value="FR">Diplomat</option>
                                    <option value="DE">Foreigner</option>
                                  </select>
                            </div>

                            <div>
                                <label for="email" class="block text-sm font-medium text-gray-700">
                                    Email address or ID number
                                </label>
                                <input type="email" id="email"
                                        class="bg-gray-50 border mt-1 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="" required />
                            </div>

                            <div>
                                <button type="submit"
                                    class="flex w-full justify-center rounded-full border border-transparent bg-primary_color py-2 px-4 font-medium text-white shadow-sm hover:bg-accentcolor-800 focus:outline-none focus:ring-2 focus:ring-accentcolor-500 focus:ring-offset-2">
                                    Next
                                </button>
                            </div>


                        </div>

                    </form>

                    <div class="mt-6 text-center">
                        <p>
                            Don't have an account?
                            <a href="/en/register" data-phx-link="redirect" data-phx-link-state="push"
                                class="font-medium text-linkColor hover:text-linkColor ml-2">
                                Sign Up
                            </a>
                        </p>
                    </div>
                </div>
            </div>



        </div>
    </main>


</div>